.header {
    margin: 0 32px;
    //width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: 800px) {
        margin: 0 88px;        
        height: 64px;
    }

    @media screen and (min-width: 1200px) {
        margin: 0 120px;        
    }
}

.header__contact{
    width: 90px;
    display: flex;
    justify-content: space-around;
}

.header__phone-icon{

}

.header__phone-text{
    font-size: 14px;
    line-height: 24px;
    color: $auxColor;
}